
/*页眉部分开始*/
header {
    width: 100%;
    height: 40px;
    background: #333;
}
.header-main {
     width: 1226px;
     height: 100%;
     margin: 0 auto;
 }
.header-l {
    float: left;
}
.header li {
    float: left;
    height: 12px;
    line-height: 12px;
    margin-top: 14px;
    padding: 0 8px 0 9px;
    border-right: 1px solid #424242;
}
.header li a {
    color: #b0b0b0;
}
.header li a:hover {
    color: #fff;
}
.header-r {
    float: right;
}
.header-r .last-news {
    border-right: none;
}
.header-r .shop-car {
    position: relative;
    z-index: 10;
    float: right;
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    padding-left: 20px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: url(../images/购物车.png) 20px 10px no-repeat;
    background-color: #ff6700;
    background-size: 20px 20px;
}
.header .shop-car:hover {
    padding-left: 20px;
    color: #ff6700;
    background: url(../images/购物车1.png) 20px 10px no-repeat;
    background-color: #fff;
    background-size: 20px 20px;
}
.shop-car-down{
    position: absolute;
    width: 316px;
    right: 0;
    top:40px;
    background: #ff000a;
    color: #424242;
    padding: 15px 0 0;
    z-index: 999;
    /*display: none;*/
}
.shop-car-move{
    display: block;
    margin: 5px 20px 20px;
    padding: 20px 0;
    text-align: center;
}
.shop-car-down:hover .shop-car{
    display: block;
}
/*页眉部分结束*/


/*logo开始*/
.nav-section {
    position: relative;
    z-index: 20;
    height: 100px;
}
.nav-main {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
.con-nav {
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.nav_wrap_product{
    position:absolute;
    width:100%;
    /*border-top:1px solid #ddd;*/
    /*box-shadow:0 1px 1px #000;*/
    background:#fff;
    z-index: 10000;
    overflow:hidden;
}
.nav_wrap_product .nav_wrap_p_main{
    width:1226px;
    height:100%;
    margin:0 auto;
    position:relative;
    /*box-shadow:0 1px 1px #000;*/
}
.nav_wrap_product .nav_wrap_p_main ul{
    width:1226px;
    height:230px;
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nav_wrap_product .nav_wrap_p_main ul li{
    width:200px;
    float:left;
    text-align:center;
    font-size:12px;
    padding:34px 0;
    position:relative;
}
.nav_wrap_product .nav_wrap_p_main ul li img{

}
.nav_wrap_product .nav_wrap_p_main ul li .nav_wrap_p_m_title{
    color:#222;
    margin-top:14px;
}
.nav_wrap_product .nav_wrap_p_main ul li .nav_wrap_p_m_price{
    color:#f60;
}
.nav_wrap_product .nav_wrap_p_main ul li .nav_wrap_p_m_border{
    width:0;
    height:100px;
    border-left:1px solid #ddd;
    position:absolute;
    right:0;
    top:34px
}

.nav-left {
    float: left;
    width: 234px;
    height: 100%;
}
.logo {
    float: left;
    width: 55px;
    height: 55px;
    margin-top: 22.5px;
    opacity: 1;
    background: url(../images/mi-logo.png) no-repeat center;
    background-color: #ff6700;
}
.nav-list {
    float: left;
}
.nav-list-next{
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 24;
    width: 100%;
    height: 229px;
    border-top: 1px solid #e0e0e0;
    background: #fff;
}
.nav-list li {
    font-size: 16px;
    float: left;
}
.nav-list li a {
    display: block;
    padding: 0 10px 0 10px;
    color: #333;
}
.nav-list li a:hover {
    color: #ff6700;
}

/*搜索框开始*/
.search {
    position: relative;
    float: right;
    z-index: 20;
}
.search-text {
    width: 245px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
}
.search-text:hover .search-txt {
    border-color: #b0b0b0;
}
.btn {
    display: block;
    float: right;
    width: 54px;
    height: 48px;
    margin-top: 27px;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-left: none;
    background: url(../images/搜索.png) center no-repeat;
    background-color: #fff;
}
.btn:hover {
    background: url(../images/搜索2.png) center no-repeat;
    background-color: #ff6700;
    border: 1px solid #ff6700;
}
.search-link {
    position: absolute;
    top: 2px;
    right: 62px;
}
.search-txt {
    padding: 0 5px;
    color: #757575;
    background: #eee;
}
.search-txt:hover {
    color: #fff;
    background: #ff6700;
}
/*搜索框结束*/
/*logo结束*/

/*轮播图开始*/
.banner-main {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
/*焦点图开始*/
.foucs-tab {
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    height: 460px;
}

.focus-list>.foucs-link{
    display: block;
    width: 1226px;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
}
.focus-list .foucs-link:first-child{
    opacity: 1;
 }
.foucs-link{
    position: absolute;
    float: left;
    width: 1226px;
    height: 100%;
}
.foucs-link img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    float:left;
    cursor: pointer;
}
.tg-point {
    position: absolute;
    z-index: 4;
    right: 30px;
    bottom: 20px;
    width: 120px;
}
.tg-point li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,.3);
    border-radius: 50%;
    background: #ddd;
    background: rgba(0,0,0,.4);
}
.tg-point .on {
    border-color: rgba(0,0,0,.4);
    background: rgba(255,255,255,.4);
}
.points {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.point:hover {
    background: #a10000;
}
/*箭头*/
.arrow {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 69px;
    margin-top: auto;
    margin-bottom: auto;
}
.left-arrow {
    float: left;
    width: 41px;
    height: 100%;
    margin-left: 234px;
    cursor: pointer;
    background: url(../images/icon-slides.png) no-repeat -84px 50%;
}
.left-arrow:hover {
    background-position: 0 50%;
}
.right-arrow {
    float: right;
    width: 41px;
    height: 100%;
    cursor: pointer;
    background: url(../images/icon-slides.png) no-repeat -125px 50%;
}
.right-arrow:hover {
    background-position: -42px 50%;
}
/*侧边栏列表*/
.focus-aside {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 234px;
    height: 460px;
    padding: 20px 0;
    background: rgba(0,0,0,.6);
}
.focus-aside li a {
    font-size: 14px;
    position: relative;
    display: block;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    color: #fff;
}
.child {
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    width: 900px;
    height: 460px;
    z-index: 24;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}
.child-col1 {
    width:796px;
}
.child-col2 {
    width:531px;
}
.child-col3 {
    width:1061px;
}
.child-active {
    display: block;
}
.child-list {
    float: left;
    width: 200px;
    height: 458px;
    margin: 0;
    padding: 2px 0;
}
.star-goods {
    position: relative;
    float: left;
    width: 200px;
    height: 76px;
}
.child .link {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
    padding-right: 0;
    width: 170px;
    height: auto;
}
.link .thumb {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 0px;
}
.text-span {
    display: inline-block;
    line-height: 40px;
    color: #333;
    font-size: 14px;
    margin: auto auto;
}
.child .btn-buy {
    position: absolute;
    right: 10px;
    top: 26px;
    width: 58px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    transition: all .4s;
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
}
.btn-buy:hover {
    background: #ff6700;
    color: #fff;
}
.child .btn-buy:hover {
    background: #ff6700;
    color: #fff;
}
.text-span:hover {
    color: #ff6700;
}
.title:hover {
    background: #ff6700;
}
.title-active {
    background: #ff6700;
}
.focus-aside li a s {
    position: absolute;
    top: 12px;
    right: 20px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/右箭头.png) -4px -2px no-repeat;
    background-size: 16px 16px;
}
/*焦点图*/
/*焦点图下方四张图片*/
.home-hero {
    width: 100%;
    height: 170px;
    margin-top: 14px;
}
.home-channel-list {
    float: left;
    width: 234px;
    padding: 3px;
    text-align: center;
    background: #5f5750;
}
.home-channel-list li {
    position: relative;
    float: left;
    width: 76px;
    height: 82px;
    padding: 0 3px;
}
.home-channel-list li a {
    display: block;
    overflow: hidden;
    padding-top: 18px;
    color: rgba(255,255,255,.7);
}
.home-channel-list li a:hover {
    color: #fff;
}
.line {
    position: absolute;
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    content: "";
    background: #665e57;
}
.line.no-line {
    width: 0;
}
.home-channel-list .top {
    position: absolute;
    top: 0;
    left: 6px;
    width: 64px;
    height: 1px;
    content: "";
    background: #665e57;
}
.home-channel-list li s {
    display: block;
    width: 100%;
    height: 24px;
    margin-bottom: 4px;
    margin-left: 16px;
    background-size: 35px 32px;
}
.home-channel-list .s1 {
    background: url(../images/shouji.png) 0 -2px no-repeat;
}
.home-channel-list .s2 {
    background: url(../images/TIM图片20170727163101_023_03.png) 0 -2px no-repeat;
}
.home-channel-list .s3 {
    background: url(../images/TIM图片20170727163101_023_05.png) 0 -2px no-repeat;
}
.home-channel-list .s4 {
    background: url(../images/TIM图片20170727163101_023_10.png) 0 -2px no-repeat;
}
.home-channel-list .s5 {
    background: url(../images/TIM图片20170727163101_023_12.png) 0 -2px no-repeat;
}
.home-channel-list .s6 {
    background: url(../images/TIM图片20170727163101_023_13.png) 0 -2px no-repeat;
}

.J_homePromo {
    float: left;
}
.J_homePromo li {
    float: left;
    margin-left: 15px;
}
.J_homePromo li:first-child {
    margin-left: 14px;
}
.J_homePromo a {
    display: block;
    width: 316px;
    height: 100%;
}
.J_homePromo a img {
    display: block;
    width: 100%;
    height: 100%;
}
/*焦点图下方四张图片结束*/
/*轮播图结束*/


/*小米明星单品开始*/
.star-main {
    width: 1226px;
    margin: 0 auto;
}
.xm-plain-box {
    margin: 16px 0 20px 0;
}
.box-hd-title {
    font-size: 22px;
    font-weight: 200;
    float: left;
    line-height: 50px;
    color: #333;
}
.box-hd {
    width: 100%;
    height: 53px;
    margin-bottom: 10px;
    position: relative;
}
.more {
    position: absolute;
    top: 13px;
    right: 0;
    cursor: pointer;
}
.more p:nth-child(1) {
    float: left;
    padding: 3px 5px;
    width: 24px;
    border: 1px solid #e0e0e0;
}
.more p:nth-child(2) {
    float: left;
    padding: 3px 5px;
    width: 24px;
    border: 1px solid #e0e0e0;
    border-left: none;
}
.more p:hover {
    color: darkorange;
}
.more .active {
    color: darkorange;
}
.xm-carousel-wrapper {
    width: 1226px;
}
.activee {
    display: none;
}
.xm-carousel-wrapper li {
    float: left;
    width: 234px;
    height: 301px;
    margin-right: 14px;
    padding-top: 30px;
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    background: #fafafa;
}
.xm-carousel-wrapper li:last-child {
    margin-right: 0;
}
.xm-carousel-wrapper .list-1 {
    border-top-color: #ffac13;
}
.xm-carousel-wrapper .list-2 {
    border-top-color: #83c44e;
}
.xm-carousel-wrapper .list-3 {
    border-top-color: #2196f3;
}
.xm-carousel-wrapper .list-4 {
    border-top-color: #e53935;
}
.xm-carousel-wrapper .list-5 {
    border-top-color: #00c0a5;
}
.xm-carousel-wrapper .list-a {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto 22px;
}
.xm-carousel-wrapper .list-a img {
    display: block;
    width: 100%;
    height: 100%;
}
.list-1 h3 {
    height: 21px;
}
.xm-carousel-wrapper .name {
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    color: #212121;
}
.xm-carousel-wrapper .name-introduce {
    color: #b0b0b0;
}
.xm-carousel-wrapper .price {
    font-size: 14px;
    height: 21px;
    margin-top: 20px;
    color: #ff6709;
}
/*小米明星单品结束*/

/*家电区域开始*/
.home-section {
    width: 100%;
    padding-top: 60px;
    background: #f5f5f5;
    margin-top: 360px;
}
.home-main {
    width: 1226px;
    height: 686px;
    margin: 0 auto;
}
.home-appliances {
    width: 100%;
    background: #f5f5f5;
}
.more-home {
    position: absolute;
    top: 13px;
    right: 0;
}
.home-appliances .more-home li{
    float: left;
}
.home-appliances .more-home p {
    float: right;
    margin-left: 30px;
    font-size: 16px;
    color: #424242;
    cursor: pointer;
}
.active-home {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-body {
    height: 614px;
    width: 100%;
    display: none;
}
.activea {
    display: block;
}
.box-body-left {
    float: left;
    margin-right: 14px;
    width: 234px;
    height:614px;
    transition: all .5s;
}
.box-body-left a{
    display: block;
    height: 100%;
    width: 234px;
}
.box-body-left img {
    width: 100%;
    height: 100%;
    display: block;
}
.brick li {
    overflow: hidden;
    position: relative;
    width: 234px;
    height: 300px;
    padding-top: 0;
    margin-bottom: 14px;
    border-top: none;
    background: #fff;
    transition: all .5s;
}
.brick li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}
.brick  a{
    height: 150px;
    width: 150px;
}
.brick  img{
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}
.brick .list-4,
.brick .list-8 {
    margin-right: 0;
}
.flag {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 20px;
    background: #e53935;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
.flag.flag-color {
    background: #83c44e;
}
.brick li:hover .review-wrapper {
    bottom: 0;
    transition: all 0.3s;
}
.review-wrapper {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: -76px;
    width: 100%;
    height: 76px;
    text-align: left;
    background: #ff6700;
    color: rgba(255,255,255,0.6);
}
.review {
    padding: 10px 30px;
}
.review-wrapper a {
    color: #fff;
    line-height: 18px;
}
.review p {
    margin-top: 6px;
}
.list-8.list8 {
    height: 143px;
    padding-top: 50px;
}
.list-8.list8  .list-a-last{
    position: absolute;
    right: 20px;
    top: 32px;
    display: block;
    width: 80px;
    height: 80px;
}
.list-a-last span {
    font-size: 48px;
    line-height: 48px;
    color: #ff6700;
}
.list-8.list8 .list-a-last img{
    display: block;
    width: 100%;
    height: 100%;
}
.list-8.list8 .list-text-last {
    position: absolute;
    width: 100px;
    top: 42px;
    left: 30px;
    text-align: left;
}
.list-8.list8 .price {
    margin-top: 10px;
}
.list-8.list8 .name-last {
    font-size: 18px;
    line-height: 34px;
}
/*家电区域结束*/

/*智能区域开始*/
.smart-more {
    position: absolute;
    top: 16px;
    right: 0;
}
.home-appliances .smart-more li{
    float: left;
}
.home-appliances .smart-more p {
    float: right;
    margin-left: 30px;
    font-size: 16px;
    color: #424242;
    cursor: pointer;
}
.active-home {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-body2 {
    height: 614px;
    width: 100%;
    display: none;
}
.activea {
    display: block;
}
/*智能区域结束*/
/*d搭配区域开始*/
.acc-section {
    width: 100%;
    background: #f5f5f5;
}
.smart .box-body-left a{
    height: 300px;
    margin-bottom: 14px;
    transition: all .5s;
}
.act:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}
.acc-home {
    position: absolute;
    top: 16px;
    right: 0;
}
.home-appliances .acc-home li{
    float: left;
}
.home-appliances .acc-home p {
    float: right;
    margin-left: 30px;
    font-size: 16px;
    color: #424242;
    cursor: pointer;
}
.active-home {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-body1 {
    height: 614px;
    width: 100%;
    display: none;
}
.activea {
    display: block;
}
/*搭配区域结束*/

/*配件区域开始*/
.match-more {
    position: absolute;
    top: 16px;
    right: 0;
}
.home-appliances .match-more li{
    float: left;
}
.home-appliances .match-more p {
    float: right;
    margin-left: 30px;
    font-size: 16px;
    color: #424242;
    cursor: pointer;
}
.active-home {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-body3 {
    height: 614px;
    width: 100%;
    display: none;
}
.activea {
    display: block;
}
/*配件区域结束*/

/*周边区域开始*/
.around-more {
    position: absolute;
    top: 16px;
    right: 0;
}
.home-appliances .around-more li{
    float: left;
}
.home-appliances .around-more p {
    float: right;
    margin-left: 30px;
    font-size: 16px;
    color: #424242;
    cursor: pointer;
}
.active-home {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-body4 {
    height: 614px;
    width: 100%;
    display: none;
}
.activea {
    display: block;
}
/*周边区域结束*/
/* 为你推荐 */
.section2 {
    width: 100%;
    height: 380px;
    background: #f5f5f5;
}
.section2-main {
    width: 1226px;
    height: 380px;
    background: #f5f5f5;
    margin: 0 auto;
    position: relative;
}
.box-hd-title1 {
    font-size: 22px;
    font-weight: 200;
    float: left;
    line-height: 50px;
    color: #333;
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
}
.c1 {
    width: 36px;
    height: 24px;
    display: block;
    background: url('../images/c1.png');
    position: absolute;
    top: 37px;
    right: 35px;
}
.c2 {
    width: 35px;
    height: 24px;
    display: block;
    background: url('../images/c2.png');
    position: absolute;
    top: 37px;
    right: 0;
}
.c2:hover {
    background: url('../images/c22_03.png')
}
.section2-main .b1 {
    width: 234px;
    height: 300px;
    float: left;
    background: #fff;
    margin-top: 80px;
    margin-right: 14px;
    transition: all 0.5s;
}
.section2-main .b1:hover {
    box-shadow: 0px 0px 20px 5px rgba(20, 17, 17, 0.3);
    transform: translateY(-5px);
}
.section2-main .b2:hover {
    box-shadow: 0px 0px 20px 5px rgba(20, 17, 17, 0.3);
    transform: translateY(-5px);
}
.section2-main .b2 {
    width: 234px;
    height: 300px;
    float: left;
    background: #fff;
    margin-top: 80px;
    transition: all 0.5s;
}
.b3 {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.b4 {
    color: #333333;
    font-size: 12px;
    text-align: center;
    display: block;
    margin-top: 40px;
}
.b5 {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 14px;
    color: #ff6709;
}
/* 热评产品 */
.section3 {
    width: 100%;
    height: 495px;
    background: #f5f5f5;
}
.section3-main {
    width: 1226px;
    height: 495px;
    background: #f5f5f5;
    margin: 0 auto;
    position: relative;
}
.box-hd-title2 {
    font-size: 22px;
    font-weight: 200;
    float: left;
    line-height: 50px;
    color: #333;
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
}
.n1{
    width: 296px;
    height: 415px;
    background: #fff;
    float: left;
    margin-top: 80px;
    margin-right: 14px;
    transition: all 0.5s;
    position: relative;
}
.n3{
    width: 296px;
    height: 415px;
    background: #fff;
    float: left;
    margin-top: 80px;
    transition: all 0.5s;
    position: relative;
}
.section3-main .n1:hover {
    box-shadow: 0px 0px 20px 5px rgba(20, 17, 17, 0.3);
    transform: translateY(-5px);
}
.section3-main .n3:hover {
    box-shadow: 0px 0px 20px 5px rgba(20, 17, 17, 0.3);
    transform: translateY(-5px);
}
.n2 img {
    width: 296px;
    height: 220px;
    display: block;
}
.n4 {
    width: 240px;
    height: 72px;
    display: block;
    margin: auto;
    margin-top: 20px;
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.author{
    font-size: 12px;
    color: #b0b0b0;
    margin: auto;
    width: 240px;
    height: 18px;
    display: block;
    margin-top: 15px;
}
.section3-ul {
    width: 236px;
    height: 22px;
    float: left;
    display: block;
    position: absolute;
    left: 28px;
    bottom: 31px;
}
.section3-ul1 {
    /* width: 126px; */
    height: 17px;
    float: left;
    border-right: 1px solid #e0e0e0;
    color: #333333;
    padding-right: 16px;
}
.section4 {
    width: 100%;
    height: 500px;
    background: #f5f5f5;
}
.section4-main {
    width: 1226px;
    height: 500px;
    background: #f5f5f5;
    margin: 0 auto;
    position: relative;
}
.r2 {
    width: 296px;
    height: 420px;
    background: #fff;
    margin-top: 80px;
    float: left;
    margin-right: 14px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}
.r3{
    width: 296px;
    height: 420px;
    background: #fff;
    margin-top: 80px;
    float: left;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}
.r4{
    width: 296px;
    height: 15px;
    font-weight: 400;
    font-size: 15px;
    color: #ffac13;
    display: block;
    /* background: pink; */
    padding-top: 50px;
    border-top: 1px solid #ffac13;
    text-align: center;
}
.r5{
    width: 296px;
    height: 15px;
    font-weight: 400;
    font-size: 15px;
    color: #b5c74e;
    display: block;
    /* background: pink; */
    padding-top: 50px;
    border-top: 1px solid #b5c74e;
    text-align: center;
}
.r6{
    width: 296px;
    height: 15px;
    font-weight: 400;
    font-size: 15px;
    color: #e53935;
    display: block;
    /* background: pink; */
    padding-top: 50px;
    border-top: 1px solid #e53935;
    text-align: center;
}
.r7{
    width: 296px;
    height: 15px;
    font-weight: 400;
    font-size: 15px;
    color: #21b0f7;
    display: block;
    /* background: pink; */
    padding-top: 50px;
    border-top: 1px solid #21b0f7;
    text-align: center;
}
.r8 {
    width: 296px;
    height: 25px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 26px;
}
.r9 {
    width: 200px;
    height: 35px;
    display: block;
    color: #b0b0b0;
    font-weight: 300;
    font-size: 12px;
    margin: 20px auto;
    text-align: center;
}
.r11 ,.r2>.r11{
     display: block;
     text-align: center;
     color: #7e7e7e;
     margin: -22px auto;
     font-size: 12px;
     width:120px;
     height:30px;
     border: 1px solid #ff9629;
    line-height: 30px;
 }
.r11:hover {
    color: #fffff9;
    background:#ff9629;
}
.r10 {
    display: block;
    text-align: center;
    color: #333;
    margin: 20px auto;
    font-size: 12px;
}
/*.r1 img {*/
    /*width: 216px;*/
    /*height: 154px;*/
    /*position: absolute;*/
    /*left: 40px;*/
    /*top: 210px;*/
/*}*/
.books img ,.title1 img,.game img,.apply img{
    width: 216px;
    height: 154px;
    position: absolute;
    left: 40px;
    bottom: 0;
}
.books,.title1,.game,.apply{
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 66px;
    overflow: hidden;
}
.books>li,.title1>li,.game>li,.apply>li{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:100%;
}
.books>li:first-of-type,.title1>li:first-of-type,.game>li:first-of-type,.apply>li:first-of-type{
    left: 0;
}
.point4 {
    width: 110px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 386px;
    left: 92px;
}
.point4 {
    width: 110px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 386px;
    left: 92px;
}
.point4 li  {
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50px;
    background: #b0b0b0;
    float: left;
    margin-right: 27px;
    margin-top: 2px;
}
.point4 .point1 {
    margin-right: 0;
}
.point4 .active {
    border: 2px solid #ff6700;
    background: #fff;
}
.point4 li:hover {
    background: #ff6700
}
.point3 {
    width: 78px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 386px;
    left: 109px;
}
.point3 li  {
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50px;
    background: #b0b0b0;
    float: left;
    margin-right: 27px;
    margin-top: 2px;
    text-align: center;
}
.point3 .point1 {
    margin-right: 0;
}
.point3 .active {
    border: 2px solid #ff6700;
    background: #fff;
    box-sizing: border-box;
}
.point3 li:hover {
    background: #ff6700
}
.section4-main .r2:hover {
    box-shadow: 0px 0px 20px 5px rgba(20, 17, 17, 0.3);
    transform: translateY(-5px);
}
.section4-main .r3:hover {
    box-shadow: 0px 0px 20px 5px rgba(20, 17, 17, 0.3);
    transform: translateY(-5px);
}
.point9{
    width: 296px;
    height: 56px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.point91{
    float: left;
    width: 24px;
    height: 56px
}
.ooo{
    display: block;
    width: 24px;
    height: 56px;
    background: #c9c8d0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 56px;
    opacity: 0;
}
.ooo1{
    display: block;
    width: 24px;
    height: 56px;
    background: #c9c8d0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 56px;
    opacity: 0;
}
.point92{
    float: right ;
    width: 24px;
    height: 56px
}
.section4-main .r2:hover i{
    opacity: 1
}
.section4-main .r3:hover i{
    opacity: 1
}
.point9 i:hover{
    background: #757575
}
/* 视频 */
.section {
    width: 100%;
    height: 425px;
    background: #f5f5f5;
}
.section6-main {
    width: 1226px;
    height: 375px;
    background: #f5f5f5;
    margin: 0 auto;
    position: relative;
}
.u3 {
    position: absolute;
    width: 64px;
    height: 16px;
    font-size: 16px;
    color: #333333;
    top: 40px;
    right: 28px;
}
.k4 {
    width: 20px;
    height: 20px;
    display: block;
    background: url('../images/777_08.png');
    position: absolute;
    right: 0;
    top: 40px;
}
.d1 {
    width: 296px;
    height: 285px;
    background: #fff;
    margin-right: 14px;
    float: left;
    margin-top: 80px;
    transition: all 0.5s;
}
.d2 {
    width: 296px;
    height: 285px;
    background: #fff;
    float: left;
    margin-top: 80px;
    transition: all 0.5s;
}
.d3 {
    width: 296px;
    height: 180px;
    display: block;
    background: url('../images/section8-1.png');
}
.d3:hover {
    background: url('../images/section8-1-1.png');
}
.d4 {
    width: 296px;
    height: 180px;
    display: block;
    background: url('../images/section8-2.png');
}
.d4:hover {
    background: url('../images/section8-2-2.png');
}
.d5 {
    width: 296px;
    height: 180px;
    display: block;
    background: url('../images/section8-3.png');
}
.d5:hover {
    background: url('../images/section8-3-3.png');
}
.d6 {
    width: 296px;
    height: 180px;
    display: block;
    background: url('../images/section8-4.png');
}
.d6:hover {
    background: url('../images/section8-4-4.png');
}
.d7 {
    display: block;
    height: 17px;
    text-align: center;
    margin-top: 32px;
    color: #333;
}
.d7:hover {
    color: #ff6700;
}
.d8 {
    display: block;
    height: 17px;
    text-align: center;
    margin-top: 10px;
    color: #b0b0b0;
}
.section6-main li:hover {
    box-shadow: 0px 0px 20px 5px rgba(20, 17, 17, 0.3);
    transform: translateY(-5px);
}
/* 视频结束 */
.footer1 {
    width: 100%;
    height: 272px;
    background: #fff;
}
.footer1-main {
    width: 1226px;
    height: 272px;
    background: #Fff;
    margin: 0 auto;
}
.footer-box1 {
    width: 1226px;
    height: 79px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
}
.footer-box1 li {
    width: 238px;
    height: 25px;
    border-right: 1px solid #e0e0e0;
    float: left;
    margin-top: 27px;
    padding-left: 58px;
}
.footer-box1 .s1 {
    border-right: none
}
.footer-box1 li a {
    color: #000;
}
.footer-box1 li a:hover {
    color:  #ff6700;
}
.footer-box2 {
    width: 1226px;
    height: 192px;
    background: #fff;
}
.footer-box2 .s5 {
    width: 160px;
    height: 112px;
    float: left;
    /* background: red */
    margin-top: 40px;
}
.footer-box2 .s2{
    float: right;
    width: 254px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
    margin-top: 40px;
}
.footer-box2 .s4 {
    margin-bottom: 17px;
    font-size: 14px;
    color: #424242;
    width: 160px;
    height: 17px;
}
.footer-box2 .s3 {
    font-size: 12px;
    color: #424242;
    margin-bottom: 17px;
    width: 48px;
    height: 15px;
}
.s5 a{
    color: #424242;
}
.s3 a:hover {
    color: #ff6700;
}
.s2 span {
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
    display: block;
}
.s2 q {
    width: 133px;
    height: 28px;
    margin: 0 0 16px 59px;
    font-size: 12px;
    text-align: center;
    color: #616161;
    display: block;
}
.s2 a{
    display: block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #ff6700;
    color: #ff6700;
    margin-left: 66px;
    margin-top: 20px;
}
.s2 a:hover {
    color: #fff;
    background: #ff6700;
}
.footer2{
    width: 100%;
    height: 106px;
    background: #f5f5f5;
    padding: 30px 0;
}
.footer2-main {
    width: 1226px;
    height: 106px;
    margin: 0 auto;
    position: relative;
}
.logo-footer{
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url('../images/logo-footer.png') no-repeat 50% 50%;
}
.g1 li {
    height: 12px;
    border-right: 1px solid #b0b0b0;
    float: left;
    padding: 0 5px 0 4px;
}
.g1 a {
    color: #757575;
    font-size: 11px;
}
.g1 a:hover{
    color: #ff6700;
}
.g1 .g2 {
    border-right:none;
}
p {
    color: #b0b0b0;
    font-size: 12px;
}
p a {
    color: #b0b0b0;
    font-size: 12px;
}
p a:hover {
    color: #ff6700;
}
.g3 {
    width: 85px;
    height: 28px;
    display: block;
    background: url('../images/v-logo-3.png');
    position: absolute;
    top: 0;
    right: 0;
}
.g4 {
    width: 85px;
    height: 28px;
    display: block;
    background: url('../images/v-logo-2.png');
    position: absolute;
    top: 0;
    right: 86px;
}
.g5 {
    width: 85px;
    height: 28px;
    display: block;
    background: url('../images/v-logo-1.png');
    position: absolute;
    top: 0;
    right: 172px;
}
.g6 img {
    width: 85px;
    height: 28px;
    display: block;
    position: absolute;
    top: 0;
    right: 258px;
}
.slogan {
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(../images/slogan2016.png) no-repeat center 0;
}
